@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400&display=swap');

.container {
    font-family: 'Source Sans Pro';
    border: 1vh solid red;
    height: 18vh;
    width: 50vh;
    gap: 0vh;
    display: flex;
    flex-direction: row;


}

.cont-img {
    width: 10vh;
    height: 15vh;
}
img{
    height: 15vh;
}

.cont-text {
    width: 16vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.cont-text-1 {

    font-style: normal;
    font-weight: 200;
    font-size: 2vh;
    line-height: 2vh;
    color: #000000;
}

.cont-text-2 {

    font-style: normal;
    font-weight: 700;
    font-size: 2vh;
    line-height: 2vh;
    color: #000000;
}

.cont-btn {
    background-color: aqua;
    width: 15vh;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}
.cont-btn-text{
    margin-left: 8vh;
}

.cont-btn-click {
    display: flex;    
    justify-content: center;
    gap: 2vh;
    height: 5vh;      
    background-color: rgb(9, 7, 11);
}

a {
    text-decoration: none;
}

.btn-1 {
    width: 6vh;
    height: 4vh;
    /* height: 34px;
    left: 10px;
    top: 5px; */

    background: #FFFFFF;
    border: 0.2vh solid #CA2128;
    border-radius: 2vh;
}

.btn-2 {
    width: 6vh;
    height: 4vh;
    /* height: 34px;
    left: 339px;
    top: 421px; */

    background: #CA2128;
    border-radius: 2vh;
}