.navbar {
    width: 43vh;
    height: 10vh;
    border-bottom: 0.1vh solid black;
}

.btn-cart {
    width: 6vh;
    height: 4.5vh;
    filter: invert(22%) sepia(46%) saturate(3878%) hue-rotate(340deg) brightness(93%) contrast(104%);
}
.btn-hamb {
    width: 6vh;
    height: 4.5vh;
    filter: invert(22%) sepia(46%) saturate(3878%) hue-rotate(340deg) brightness(93%) contrast(104%);
}